
.skin-blue{
    @include allcolor(#1e3a62);    
    .site-logo{
        background:url(../images/logo_blue.svg) no-repeat;
        img{
            visibility: hidden;
        }
    }
    
    .footer-columns #block-contactus .field--name-field-image{
        background:url(../images/logo_blue.svg) no-repeat;
        img{
            visibility: hidden;
        }
    }
    

    /* -----------------view-lastest-comment-------------------- */
    .view-lastest-comment .item-list{
        li{
            &:before{
                background-image: url(../images/comment-blue.png);
            }
        }
    }

}
