
// / color for skin /
.change-skin-menu-wrapper {
    .color-default {
      background-color: #9b1b22;
    }
    .color-black{
      background-color: #302b2b;
    }
    .color-blue{
      background-color: #1e3a62;
    }
    .color-pink{
      background-color: #f05e6b;
    }
}